@use '../abstracts/' as *;

.flex-group {
  display: flex;
  width: fit-content;
  flex-wrap: wrap;
  column-gap: var(--flex-column-gap, $flex-group-gap);
  row-gap: var(--flex-row-gap, calc($flex-group-gap / 2));
}

.flex-group.mx-auto {
  justify-content: center;
}
